hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px
    border-top: solid 1px #999;
    width: 300px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.footer {
  font-size: 12px;
  color: $grey-dark;

  img { border: none; }
}

.footer-inner { text-align: center; }

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.powered-by,
.theme-info { display: inline-block; }

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}
